footer {
    height: 10%;
    background-color: rgb(42, 43, 44);
    p, i, a {
        color:#ffffff;
        text-decoration: none;
    }
}
#footerContain {
    height: 7%;
    color: #ffffff;
}
#logoFooter {
    height: 20px;
    width: 200px;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}
#footerParent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footerChildLogo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    width: 50%;
    i {
        width: 10px;
        margin-right: 15px;
    }
    p {
        align-self: left;
    }
}