html {
    display: flex;
    margin:0;
    padding:0;
}
head {
    width: 100%;
}
body{
    height: 100%;
    margin: auto;
    width:100%;
}
.bodyContenair {
    width: 100%;
    height: 100%;
}
main {
    height: 87%;
}