h1 {
  font-weight: 400;
}

.loading {
  background-color: rgba(22, 22, 22, 0.8);
  position: absolute;
  width: 100%;
  height: 2245px;
  z-index: 9999;
  animation: loading 3s;
  -webkit-animation: loading 3s;
  -moz-animation: loading 3s;
  visibility: hidden;
}

@keyframes loading {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
.loader {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: relative;
  top: 390px;
  margin: 0 auto;
}

#loader-1:before, #loader-1:after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 10px solid transparent;
  border-top-color: #9356DC;
  border-bottom-color: #FF79DA;
  border-right-color: #99E2D0;
}

#loader-1:before {
  z-index: 100;
  animation: spin 1s infinite;
}

#loader-1:after {
  border: 10px solid #ccc;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
body {
  font-family: "Roboto";
}

html {
  display: flex;
  margin: 0;
  padding: 0;
}

head {
  width: 100%;
}

body {
  height: 100%;
  margin: auto;
  width: 100%;
}

.bodyContenair {
  width: 100%;
  height: 100%;
}

main {
  height: 87%;
}

header {
  display: contents;
  width: 100%;
  height: 3%;
  z-index: 1000;
}

.bodyContenair > header {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 70px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.bodyContenair > header img {
  width: 50%;
}
.bodyContenair > header a {
  left: 10px;
  top: 32px;
  position: absolute;
}

footer {
  height: 190px;
  background-color: #2a2b2c;
}
footer p, footer i, footer a {
  color: #ffffff;
  text-decoration: none;
  margin: 0;
}

#logoFooter {
  height: 20px;
  filter: invert(100%);
  -webkit-filter: invert(100%);
  margin: 20px;
}

.footerParent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  width: 80%;
  margin-left: 20px;
}

.footerChildLogo {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
}
.footerChildLogo i {
  width: 10px;
  margin-right: 15px;
}
.footerChildLogo p {
  align-self: flex-start;
}

#mainContenair {
  height: 90%;
  width: 100%;
}

.localisation {
  display: flex;
  justify-content: center;
  height: 50px;
  background-color: #dddddd;
  box-shadow: inset 0px 3px 5px 1px #c7c7c7;
}
.localisation__contain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 40%;
  z-index: 1;
}

.reservation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: whitesmoke;
  height: 300px;
}
.reservation__txt {
  align-items: center;
  width: 90%;
  margin-top: 35px;
}
.reservation__txt h1 {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  width: 85%;
  margin: auto;
}
.reservation__txt p {
  text-align: center;
  font-size: 20px;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 400px;
  width: 100%;
  padding-top: 25px;
}
.fonctionnement h2 {
  align-self: start;
  margin-left: 10px;
}
.fonctionnement__steps {
  width: 90%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.steps {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 25%;
  background-color: whitesmoke;
  border-radius: 25px;
  box-shadow: 2px 5px 10px 1px #c7c7c7;
}
.steps__number {
  position: relative;
  top: 12px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  height: 20px;
  width: 25px;
  background-color: #9356DC;
  color: white;
  font-size: 12px;
  text-align: center;
}
.steps__description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-right: 60px;
}
.steps:hover {
  background-color: rgba(147, 86, 220, 0.2);
}
.steps:hover i {
  color: #9356DC;
}

.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1200px;
  width: 100%;
  padding-top: 25px;
  background-color: whitesmoke;
}
.restaurants h2 {
  align-self: flex-start;
  margin-left: 10px;
}
.restaurants__contain {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 92%;
  height: 90%;
}
.restaurants__thumb {
  height: 24%;
  width: 100%;
  margin: 0;
  text-decoration: none;
  color: black;
  border-radius: 20px;
  box-shadow: 2px 5px 10px 1px #F2F2F2;
  background-color: white;
}

.thumb {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
}
.thumb__top {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70%;
  position: relative;
}
.thumb__top--img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.thumb__top .new {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 10px;
  height: 32px;
  width: 100px;
  color: #278870;
  background-color: #99E2D0;
}
.thumb__top .new p {
  margin: 0;
}
.thumb__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 30%;
  width: 90%;
  padding-left: 20px;
}
.thumb__bottom--txt {
  line-height: 10px;
}

.hearts {
  position: relative;
  width: 20px;
  height: 20px;
}
.hearts :first-child {
  position: absolute;
}
.hearts :last-child {
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hearts :last-child:hover {
  opacity: 1;
  transition: opacity 0.5s;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  width: 100%;
  background-color: whitesmoke;
}

.imgHeaderMain {
  height: 250px;
  width: 100%;
  position: relative;
}
.imgHeaderMain img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@keyframes menu_appears {
  0% {
    margin-top: -5px;
    opacity: 0;
  }
  100% {
    margin-top: 0px;
    opacity: 1;
  }
}
.menu {
  display: flex;
  position: relative;
  bottom: 45px;
  height: 1250px;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 40px 40px 0 0;
}
.menu__contain {
  width: 90%;
  /*:nth-child(1){
      animation: menu_appears 1s 1 ;
      -webkit-animation: menu_appears 1s 1;
      -moz-animation: menu_appears 1s 1;
  }*/
}
.menu__contain :nth-child(2) {
  animation: menu_appears 2s 1;
  -webkit-animation: menu_appears 2s 1;
  -moz-animation: menu_appears 2s 1;
}
.menu__contain :nth-child(3) {
  animation: menu_appears 3s 1;
  -webkit-animation: menu_appears 3s 1;
  -moz-animation: menu_appears 3s 1;
}
.menu__contain :nth-child(4) {
  animation: menu_appears 4s 1;
  -webkit-animation: menu_appears 4s 1;
  -moz-animation: menu_appears 4s 1;
}
.menu__name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Shrikhand";
  margin-top: 5px;
}
.menu__step {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.menu__step .separate {
  margin: 0;
  background-color: #99E2D0;
  border: none;
  height: 3px;
  width: 35px;
  text-align: left;
}
.menu__step__title {
  margin-bottom: 5px;
  text-transform: uppercase;
}
.menu__step__box {
  display: flex;
  width: 100%;
  overflow: hidden;
  height: 75px;
  border-radius: 20px;
  background: white;
  box-shadow: 2px 5px 10px 1px #c7c7c7;
  margin: 10px 0;
}
.menu__step__box__dish {
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.menu__step__box__dish--txt {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 10px;
  width: 100%;
  overflow: hidden;
}
.menu__step__box__dish--txt h2 {
  font-size: 16px;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu__step__box__dish--txt p {
  font-size: 15px;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu__step__box__dish--price {
  align-self: flex-end;
  margin: 10px 15px 10px 10px;
  font-size: 15px;
  font-weight: bold;
  width: 50px;
}
.menu__step__box__check {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100%;
  margin-right: -100px;
  background-color: #99E2D0;
  transition: margin 1s linear;
}
.menu__step__box__check .fas {
  align-self: center;
  color: white;
  font-size: 25px;
}
.menu__step__box:hover .menu__step__box__check {
  margin-right: 0;
  transition: 0.5s linear;
}
.menu__step__box:hover .menu__step__box__check .fas {
  transform: rotate(360deg);
  transition: transform 0.5s ease-in-out;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 230px;
  border: 1px;
  border-radius: 100px;
  color: white;
  background-image: linear-gradient(#FF79DA, #9356DC);
  font-size: 15px;
  outline-style: none;
}
button:hover {
  box-shadow: 2px 5px 10px 1px #c7c7c7;
  filter: brightness(110%);
}
button :checked {
  outline: 0 !important;
}

.commandButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  outline: none;
}

@media all and (min-width: 700px) {
  body {
    width: 100%;
  }

  .bodyContenair {
    margin: auto;
    width: 100%;
    max-width: 1025px;
  }

  .bodyContenair > header {
    width: 100%;
    height: 100px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    position: relative;
  }
  .bodyContenair > header img {
    width: 35%;
  }
  .bodyContenair > header a {
    left: 5%;
    top: 42px;
    position: absolute;
    font-size: 25px;
  }

  .media_loc_resa_fonct {
    display: flex;
    width: 100%;
    height: 450px;
  }

  .media_loc_resa {
    width: 700px;
  }
  .media_loc_resa .reservation {
    height: 370px;
  }
  .media_loc_resa .reservation__txt {
    height: 220px;
    margin-top: 45px;
  }

  .fonctionnement {
    height: 440px;
    width: 90%;
    margin-left: 25px;
    margin-top: 25px;
    padding-top: 0;
  }
  .fonctionnement h2 {
    align-self: center;
    margin-top: 0;
  }

  .restaurants {
    height: 1465px;
  }
}

/*# sourceMappingURL=style.css.map */
