body {
  font-family: "Roboto";
}

html {
  display: flex;
  margin: 0;
  padding: 0;
}

head {
  width: 380px;
}

body {
  height: 2200px;
}

.bodyContenair {
  width: 380px;
  height: 100%;
}

main {
  height: 87%;
}

header {
  display: contents;
  width: 100%;
  height: 3%;
}

#header__main {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.headerBack {
  display: flex;
  justify-content: space-between;
  width: 75%;
}
.headerBack a {
  align-self: center;
}

footer {
  height: 9%;
  background-color: #2a2b2c;
}
footer p, footer i, footer a {
  color: #ffffff;
  text-decoration: none;
  margin: 0;
}

#logoFooter {
  height: 20px;
  filter: invert(100%);
  -webkit-filter: invert(100%);
  margin: 20px;
}

.footerParent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  width: 100%;
  padding-left: 20px;
}

.footerChildLogo {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  width: 50%;
}
.footerChildLogo i {
  width: 10px;
  margin-right: 15px;
}
.footerChildLogo p {
  align-self: left;
}

#mainContenair {
  height: 90%;
  width: 100%;
}

.localisation {
  height: 3%;
  background-color: #dddddd;
  box-shadow: 0px 0px 5px 1px #727272;
}
.localisation__contain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.reservation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: whitesmoke;
  height: 15%;
}

.reservationTxt {
  align-items: center;
  width: 90%;
}
.reservationTxt h1 {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  width: 85%;
  margin-inline: auto;
}
.reservationTxt p {
  text-align: center;
  font-size: 20px;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 22%;
  width: 100%;
}
.fonctionnement__steps {
  width: 90%;
  height: 85%;
}

.steps {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 28%;
}

.steps__description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.steps__description i {
  justify-self: flex-start;
}
.steps__description p {
  margin: 0;
}

.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60%;
  width: 100%;
  background-color: whitesmoke;
}
.restaurants h2 {
  align-self: flex-start;
}

.containRestaurants {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 92%;
  height: 90%;
}

.restaurantThumb {
  height: 24%;
  width: 100%;
  margin: 0;
  text-decoration: none;
  color: black;
  border-radius: 20px;
  box-shadow: 2px 5px 10px 1px #F2F2F2;
}

.thumb {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
}
.thumb .thumbTop {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70%;
}
.thumb .thumbTop .thumbImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.thumb .thumbTop .new {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 255px;
  height: 32px;
  width: 100px;
  background-color: #99E2D0;
}
.thumb .thumbTop .new p {
  margin: 0;
}
.thumb .thumbBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 30%;
  width: 90%;
  padding-left: 20px;
}
.thumb .thumbBottom .fa-heart:hover {
  color: indigo;
}

.button {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
