button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 230px;
    border: 1px;
    border-radius: 100px;
    color: white;
    background-image: $background_gradiant;
    font-size: 15px;
    &:hover {
        box-shadow: 2px 5px 10px 1px #c7c7c7;
        filter: brightness(110%);
    }
}
.commandButton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}